# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.test.js.snap

# Production
build/
dist/
out/
.next/

# Environment variables
.env
.env*.local
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Expo
.expo/
.expo-shared/

# Docker
*.pid

# TypeScript
*.tsbuildinfo

Backend/SBay.Backend/obj/
Backend/SBay.Backend/bin/
Backend/SBay.Backend.Tests/obj/
Backend/SBay.Backend.Tests/bin/

Backend/SBay.Backend/appsettings.json
Backend/SBay.Backend/appsettings.Development.json
Backend/SBay.Backend.Tests/ConnectionStrings.json

.vscode/settings.json
.config/
Backend/SBay.Backend/Properties/launchSettings.json
Backend/SBay.Backend/src/DataBase/ConnectionStrings.json
Backend/Folder.DotSettings.user
